html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html, body, h1, h2, h3, p {
  margin: 0;
  pading: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  margin: 5.125rem 0;
}
@media (min-width: 64em) {
  body {
    display: flex;
    flex-flow: row wrap;
    margin: 4.1875rem 7.375rem;
  }
}

.rating-format {
  margin-bottom: 1.0625rem;
  padding: 1rem;
  height: 4.8125rem;
  line-height: 1.625rem;
  background-color: hsl(300deg, 24%, 96%);
  border-radius: 0.625rem;
}
@media (min-width: 64em) {
  .rating-format {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.125rem;
    padding: 1.0625rem 0;
    width: 27.6875rem;
    height: 3.4375rem;
  }
  .rating-format:nth-child(2) {
    margin-left: 4.375rem;
  }
  .rating-format:last-child {
    margin-left: 8.75rem;
  }
}
.rating-format > .rating__image {
  letter-spacing: 0.015625rem;
}
@media (min-width: 64em) {
  .rating-format > .rating__image {
    padding-left: 2rem;
  }
}
.rating-format > p {
  font-size: 1.0625rem;
  font-weight: 700;
  color: hsl(300deg, 43%, 22%);
}
@media (min-width: 64em) {
  .rating-format > p {
    padding-left: 2.1875rem;
  }
}

.articel-format {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1.0625rem;
  padding: 2.1875rem 1.875rem;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(300deg, 43%, 22%);
  border-radius: 0.625rem;
}
@media (min-width: 64em) {
  .articel-format {
    margin-right: 1.6875rem;
  }
  .articel-format:first-child {
    margin-bottom: 2.5rem;
  }
  .articel-format:nth-child(2) {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .articel-format:last-child {
    margin-top: 2.5rem;
    margin-right: 0;
    margin-bottom: 0;
  }
}
.articel-format img {
  margin-right: 1.25rem;
  margin-bottom: 1.6875rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}
.articel-format .article__profil {
  line-height: 1.3125rem;
}
.articel-format h2 {
  font-size: 1.0625rem;
}
.articel-format .article__profil p {
  font-weight: 500;
  color: rgb(147, 123, 146);
}
.articel-format p {
  font-size: 0.9375rem;
  letter-spacing: 0.0625rem;
  line-height: 1.4375rem;
  color: hsl(300deg, 24%, 96%);
}

.header {
  text-align: center;
}
@media (min-width: 64em) {
  .header {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
  }
  .header__text {
    margin: 0;
    width: 50%;
    text-align: left;
  }
  .header__section {
    width: 50%;
  }
}
.header h1 {
  margin: 0 3.9375rem;
  margin-bottom: 1.25rem;
  font-size: 2.4375rem;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: -0.125rem;
  color: hsl(300deg, 43%, 22%);
}
@media (min-width: 64em) {
  .header h1 {
    margin: 0;
    margin-bottom: 1.375rem;
    padding-right: 10.8125rem;
    font-size: 3.3125rem;
    line-height: 3.3125rem;
  }
}
.header__text p {
  margin: 0 1.1875rem;
  margin-bottom: 2.1875rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: rgb(147, 123, 146);
}
@media (min-width: 64em) {
  .header__text p {
    margin: 0;
    margin-bottom: 3.75rem;
    padding-right: 9.0625rem;
    font-size: 1rem;
  }
}
.header section {
  margin: 0 1.1875rem;
  margin-bottom: 3.125rem;
  text-align: center;
}
@media (min-width: 64em) {
  .header section {
    margin: 0;
    margin-top: 2rem;
    width: 50%;
  }
}

main {
  margin: 0 1.1875rem;
}
@media (min-width: 64em) {
  main {
    margin: 0;
  }
}

@media (min-width: 64em) {
  article {
    display: flex;
    flex: 1 1;
    height: 18.75rem;
  }
}/*# sourceMappingURL=style.css.map */