@use 'variables' as v;
@use 'mixins' as m;

html{
    font-size: 100%;
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

html, body, h1, h2, h3, p{
    margin: 0;
    pading: 0;
}

body{
    font-family: v.$ff-league-spartan;
    margin: 5.125rem 0;

    @include m.breakpoints-up(large){
        display: flex;
        flex-flow: row wrap;
        margin: 4.1875rem 7.375rem;
    }

}

.rating-format{
    margin-bottom: 1.0625rem;
    padding: 1rem;
    height: 4.8125rem;
    line-height: 1.625rem;
    background-color: v.$cl-neutral-lt-magenta;
    border-radius: 0.625rem;
    // border: 2px salmon solid;
    @include m.breakpoints-up(large){
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-items: center;
        margin-left: 1.125rem;
        padding: 1.0625rem 0;
        width: 27.6875rem;
        height: 3.4375rem;

        &:nth-child(2){
            margin-left: 4.375rem;
        }
        &:last-child{
            margin-left: 8.75rem;
        }
    }

    & > .rating__image{
        letter-spacing: 0.015625rem;
        @include m.breakpoints-up(large){
        padding-left: 2rem;
        }
    }

    & > p{
        font-size: 1.0625rem;
        font-weight: 700;
        color: v.$cl-primary-magenta;
        @include m.breakpoints-up(large){
            padding-left: 2.1875rem;
            }
    }
}

.articel-format{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1.0625rem;
    padding: 2.1875rem 1.875rem;
    color: v.$cl-neutral-white;
    background-color: v.$cl-primary-magenta;
    border-radius: 0.625rem;
    // border: 2px blue solid;
    @include m.breakpoints-up(large){
        margin-right: 1.6875rem;
        &:first-child{
            margin-bottom: 2.5rem;
        }
        &:nth-child(2){
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
        }
        &:last-child{
            margin-top: 2.5rem;
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    & img{
        margin-right: 1.25rem;
        margin-bottom: 1.6875rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
    }


    & .article__profil{
        line-height: 1.3125rem;         
    }

    & h2{
        font-size: 1.0625rem;
    }

    & .article__profil p{
        font-weight: 500;
        color: v.$cl-neutral-dr-magenta;
    }

    & p{
        font-size: 0.9375rem;
        letter-spacing: 0.0625rem;
        line-height: 1.4375rem;
        color: v.$cl-neutral-lt-magenta;
    }
}
