@use 'variables' as v;
@use 'mixins' as m;

.header{
    text-align: center;

    @include m.breakpoints-up(large){
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 100%;
        
        &__text{
            margin:0;
            width: 50%;
            text-align: left;
        }
    
        &__section{
            width: 50%;
        }
    }

    & h1{
        margin: 0 3.9375rem;
        margin-bottom: 1.25rem;
        font-size: 2.4375rem;
        font-weight: 700;
        line-height: 1.875rem;
        letter-spacing: -0.125rem;
        color: v.$cl-primary-magenta;

        @include m.breakpoints-up(large){
            margin: 0;
            margin-bottom: 1.375rem;
            padding-right: 173px;
            font-size: 53px;
            line-height: 53px;
        }

    }

    &__text p{
        margin:0 1.1875rem;
        margin-bottom: 2.1875rem;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: v.$cl-neutral-dr-magenta;
        @include m.breakpoints-up(large){
            margin: 0;
            margin-bottom: 60px;
            padding-right: 145px;
            font-size: 1rem;
            }
    }

    section{
        margin:0 1.1875rem;
        margin-bottom: 3.125rem;
        text-align: center;
        @include m.breakpoints-up(large){
            margin: 0;
            margin-top: 32px;
            width: 50%;
        }
    
    }
}