@use 'variables' as v;
@use 'mixins' as m;

main{
    margin:0 1.1875rem;

    @include m.breakpoints-up(large){
    margin: 0;
    }
    }

article{
    @include m.breakpoints-up(large){
        display:flex;
        flex: 1 1;
        height: 18.75rem;
    }
}
