//primary color
$cl-primary-magenta: hsl(300, 43%, 22%);
$cl-primary-pink: hsl(333, 80%, 67%);

//neutral
$cl-neutral-dr-magenta: hsl(303, 10%, 53%);
$cl-neutral-lt-magenta: hsl(300, 24%, 96%);
$cl-neutral-white: hsl(0, 0%, 100%);

// font-family
$ff-league-spartan : 'League Spartan', sans-serif;